@use "variables.scss" as v;

/*Blockquote section styles*/

.quote-container {
    max-width: 500px;
    padding: 20px 15px;
    align-self: center;

    .quote {
        font-size: 1.8rem;
        color: v.$darker-accent;
    }
}


