@use "variables.scss" as v;

.footer {
    position: sticky;
    bottom: 0;
    text-align: center;
    background-color: v.$darker-accent;
    color: v.$secondary-text;
    padding: 5px 0 8px 0;
    font-size: 1em;
    opacity: 0.9;
}
